#wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  & > div {
    position: absolute;
  }

  .contens {
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & > div {
      width: 74%;
      height: 100%;
      background-color: var(--main-color-5);
      border: 1px solid red;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .shape {
        width: 48%;
        height: 100%;
        border: 1px solid blue;
      }

      .ex {
        width: 42%;
        height: 38%;
        border: 1px solid rebeccapurple;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        font-family: var(--Inter);
        color: var(--text-color-1);

        & > div:nth-child(1) {
          width: 100%;
          height: 14%;
          background-color: var(--ex-color-1);
          display: flex;
          justify-content: flex-start;
          align-items: center;

          & > p {
            margin: 10px;
            font-size: 1.375rem;
            font-weight: bold;
          }
        }
        
        & > div:nth-child(2) {
          width: 100%;
          height: 42%;
          border: 1px solid gray;
        }
        
        & > div:nth-child(3) {
          width: 100%;
          height: 34%;
          border: 1px solid salmon;
          display: flex;
          justify-content: space-around;
          flex-direction: column;
        }
      }

    }
  }

  .page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    & > img {
      position: absolute;
      height: 1000px;
    }

    & > div {
      position: absolute;

      & > img {
        width: 220px;
        height: 100px;
      }
    }

// ----------------------------------

    & > img:nth-child(1) {
      right: 21.5%;
      z-index: 6;
    }

    & > div:nth-child(2) {
      // web-b
      top: 20%;
      right: 11%;
      z-index: 1;
    }

    & > img:nth-child(3) {
      right: 20.5%;
      z-index: 4;
    }    
    
    & > div:nth-child(4) {
      // mpbile-b
      right: 12%;
      top: 30%;
      z-index: 3;

    }

    & > img:nth-child(5) {
      right: 18%;
      z-index: 2;
    }

    & > div:nth-child(6) {
      // design-b
      right: 12%;
      top: 50%;
      z-index: 5;

      & > img {
        width: 260px;
        height: 110px;
      }
    }

    & > div:nth-child(7) {
      width: 61%;
      height: 100%;
      background-color: var(--main-color-3);
      z-index: 0;
    }
  }

  .floor {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: var(--main-color-3);
  }
}