#wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#wrap .top-b {
  width: 100%;
  height: 20%;
  border: 1px solid rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  z-index: 4;
}
#wrap .pink-p {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 3;
}
#wrap .pink-p > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  border: 1px solid gold;
}
#wrap .pink-p > div:nth-child(1) {
  width: 84%;
  height: 100%;
  border: 1px solid blue;
  z-index: 1;
}
#wrap .pink-p > div:nth-child(1) > div:nth-child(1) {
  width: 100%;
  height: 26%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
#wrap .pink-p > div:nth-child(1) > div:nth-child(2) {
  width: 100%;
  height: 5.5%;
  border: 1px solid rgb(37, 115, 134);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
#wrap .pink-p > div:nth-child(1) > div:nth-child(2) > div {
  width: 32%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 800;
  font-family: var(--nanum-gothic);
  color: var(--text-color-2);
}
#wrap .pink-p > div:nth-child(2) {
  position: absolute;
  z-index: 0;
  top: -2px;
}
#wrap .mint-p {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
}
#wrap .mint-p > div:nth-child(1) {
  width: 84%;
  height: 80%;
  z-index: 1;
}
#wrap .mint-p > div:nth-child(1) > div:nth-child(1) {
  width: 50%;
  height: 29%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: var(--Inter);
  color: var(--text-color-2);
}
#wrap .mint-p > div:nth-child(1) > div:nth-child(2) {
  width: 29%;
  height: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap .mint-p > div:nth-child(1) > div:nth-child(2) > div {
  width: 100%;
  height: 1px;
  background-color: var(--text-color-1);
}
#wrap .mint-p > div:nth-child(1) > div:nth-child(3) {
  width: 80%;
  height: 18%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  font-family: var(--Inter);
}
#wrap .mint-p > div:nth-child(2) {
  position: absolute;
}
#wrap .white-p {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}
#wrap .white-p > div:nth-child(1) {
  width: 84%;
  height: 80%;
  z-index: 1;
}
#wrap .white-p > div:nth-child(1) > div:nth-child(1) {
  width: 50%;
  height: 29%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: var(--Inter);
}
#wrap .white-p > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  width: 21%;
  display: flex;
  justify-content: flex-start;
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--text-color-2);
}
#wrap .white-p > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
  font-size: 1.125rem;
  color: var(--text-color-1);
}
#wrap .white-p > div:nth-child(1) > div:nth-child(2) {
  width: 29%;
  height: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap .white-p > div:nth-child(1) > div:nth-child(2) > div {
  width: 100%;
  height: 1px;
  background-color: var(--text-color-1);
}
#wrap .white-p > div:nth-child(1) > div:nth-child(3) {
  width: 60%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrap .white-p > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#wrap .white-p > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div {
  width: 100%;
  height: 14%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#wrap .white-p > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div > p {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  font-family: var(--Bebas-Neue);
  color: var(--text-color-2);
}
#wrap .white-p > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div > img {
  height: 14px;
}
#wrap .white-p > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div:nth-child(3) > img {
  height: 16px;
}
#wrap .white-p > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div:nth-child(4) > img {
  height: 16px;
}
#wrap .white-p > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div:nth-child(5) > img {
  height: 16px;
}
#wrap .white-p > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) {
  width: 44%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#wrap .white-p > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > div:nth-child(1) {
  width: 100%;
  height: 14%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrap .white-p > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#wrap .white-p > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#wrap .white-p > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) {
  width: 100%;
  height: 79%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap .white-p > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#wrap .white-p > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  width: 90%;
  height: 100%;
}
#wrap .white-p > div:nth-child(2) {
  position: absolute;
}
#wrap .wave-p {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 0;
}
#wrap .blue-p {
  width: 100%;
  height: 100%;
  background-color: var(--main-color-1);
}/*# sourceMappingURL=about_me.css.map */